<nav class="navbar navbar-expand bg-primary" data-bs-theme="dark">
    <div class="container-fluid">
        <a class="navbar-brand" routerLink="">Pizza Shop</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-link" routerLink="products" routerLinkActive="active">Productos</a>
                <a class="nav-link" routerLink="categories" routerLinkActive="active">Categorias</a>
            </div>
        </div>
    </div>
</nav>

<div class="container pt-4">
    <router-outlet></router-outlet>
</div>